#!/bin/bash
#
# ========================================================================================
# Copyright (C) 2005-2010 UDW-SOFTWARE <http://udw.altervista.com/>
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
#
# This script will export all tables from specified db and tables in separated sql files
# it can also export the full db in a single sql file.
# =========================================================================================
#
# This file contains login/password information for accessing the MySQL database
# and is used by all the mysql_* scripts.
#

#
#	MYSQL
#

# change these lines with your mysql config
MYSQL_DB=test
MYSQL_USER=usr
MYSQL_PASS=pwd
MYSQL_HOST=localhost
#MYSQL_SOCK=/var/lib/mysql/mysql.sock

#
#	File Options
#

# path of directory where extract separated tables ( without end slash )
TPATH=./tables

# (boolean) clean directory before dump, in this way non-existant db tables will be deleted
CLEANFOLDER=1

# path of file to extract database full dump
FPATH=./full/full.sql

# (boolean) switch to enable(1)/disable(0) the dump/import of full db file
# ( you can do it manually using command parameters )
FULL=0

# (boolean) set 1 to enable --tab option for mysqldump and import data from it
# it's very fast import/export process but doesn't utilize the insert query
# NOTE: full db continue to be dumped with normal sql format
# NOTE2: if you have problem with permissions ( mysql errorcode:13) mostly in linux
# you should enable CHMODE config and disable/edit
# some protections such as AppArmor in Ubuntu or SELinux in Fedora..

TEXTDUMPS=1

# (boolean) allow to change "TPATH" folder permissions to enable mysql server writing

CHMODE=0


#
# TOOLS OPTIONS
#

#number of threads you want to use in TEXT import mode ( you can safely set it to your number of processor increasing process speed )
THREADS=1

IMPORTOPTS_TEXT="--use-threads=$THREADS --local --compress --delete --lock-tables"

DUMPOPTS="--skip-comments --skip-set-charset --extended-insert --order-by-primary --single-transaction --quick"

